html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#css-zen-garden {
    background: #f2f2f2;
    color: #777;
    font: 8px;
    font-family: "Arial sans-serif";
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 1.0em;
    line-height: 1.0em;
    text-indent: -2000em;
    display: block;
}

header h1 {
    width: 500px;
    height: 80px;
    background: url(../images/h1.gif) #fff no-repeat 0 100%;
    margin: 0 auto;
}

header h2 {
    width: 500px;
    height: 206px;
    background: #b6c77b url(../images/h2.png) no-repeat;
    margin: 0 auto;
}

.summary {
    padding: 15px 20px;
    background: url(../images/line.gif) no-repeat 50% 100%;
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.summary p {
    width: 200px;
}

.preamble h3{
    padding-top: 15px;
    padding: 5px 20px;
    width: 500px;
    margin: 0 auto 0 31.5%;
    text-align: left;
    background-image: url(../images/h3_01.gif);
    background-repeat: no-repeat;
}

.preamble p {
    margin: 0 auto 0 32%;
    text-align: left;
    width: 200px;
    padding-top: 10px;
}

.explanation {
    background-image: url(../images/h3_02.gif);
    margin-top: 2%;
    background-repeat: no-repeat;
    margin: 0 auto 0 31.5%;
}

.explanation > h3{
    padding-top: 15px;
    padding: 5px 20px;
    margin-top: 1%;
    width: 500px;
    text-align: left;
}

.explanation p {
    margin: 0 auto 0 1%;
    text-align: left;
    width: 500px;
    padding-top: 10px;
}

.participation {
    background-image: url(../images/h3_03.gif);
    margin-top: 3%;
    background-repeat: no-repeat;
    margin: 0 auto 0 31.5%;
}

.participation > h3 {
    padding-top: 15px;
    padding: 5px 20px;
    margin-top: 1%;
    width: 500px;
    text-align: left;
}

.participation p {
    margin: 0 auto 0 1%;
    text-align: left;
    width: 500px;
    padding-top: 10px;
}

.benefits {
    background-image: url(../images/h3_04.gif);
    margin-top: 3%;
    background-repeat: no-repeat;
    margin: 0 auto 0 31.5%;
}

.benefits > h3 {
    padding-top: 25px;
    padding: 5px 20px;
    margin-top: 1%;
    width: 500px;
    text-align: left;
}

.benefits p {
    margin: 0 auto 0 1%;
    text-align: left;
    width: 500px;
    padding-top: 10px;
}

.requirements {
    background-image: url(../images/h3_05.gif);
    margin-top: 3%;
    background-repeat: no-repeat;
    margin: 0 auto 0 31.5%;
}

.requirements > h3 {
    padding-top: 25px;
    padding: 5px 20px;
    margin-top: 1%;
    width: 500px;
    text-align: left;
}

.requirements p {
    margin: 0 auto 0 1%;
    text-align: left;
    width: 500px;
    padding-top: 10px;
}

.supporting footer {
    padding: 12px 20px;
    background: url(../images/line.gif) no-repeat 50% 0;
    text-align: center;
}

.sidebar {
    position: absolute;
    top: 287px;
    left: 872px;
    font-size: 10px;
    line-height: 1.2em;
}

select h3{
    background-image: url(../images/h3_06.gif);
    width: 500px;
    background-repeat: no-repeat;
    font-weight: normal;
    font-size: 1.0em;
    line-height: 1.0em;
}

nav {
    display: block;
}