/** RESET CSS **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font: 8pt/12pt "FontAwesome", sans-serif;
    color: #c0c0c0;
    margin: 0px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.page-wrapper {
    top: 0;
    position: absolute;
    padding: 0px;
    left: 50%;
    margin-left: -277px;
    width: 595px;
    background-color: transparent;
    background-image: url("../img/zen-bg.gif");
    background-repeat: no-repeat;
    background-position: 0 40px;
}

header h1 {
    background-color: transparent;
    background-image: url(../img/h1.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 97px;
    position: absolute;
    width: 332px;
    height: 40px;
    top: 60px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header h2 {
    position: absolute;
    background-color: transparent;
    background-image: url(../img/h2.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 355px;
    width: 80px;
    height: 25px;
    top: 98px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.requirements h3 {
    position:absolute;
    background-color: transparent;
    background-image: url(../img/titulo5.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 -35px;
    width: 250px;
    height: 41px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    margin: 0 0 0 30px;
    font-weight: bold;
    font: 13pt "FontAwesome", sans-serif;
    font-style: italic;
    padding: 0;
}

.benefits h3 {
    position:absolute;
    background-color: transparent;
    background-image: url(../img/titulo4.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 -35px;
    width: 250px;
    height: 41px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar ul {
    list-style-type: none;
    margin-top:5px;
}
.sidebar h3 {
    color:#fff;
}

.sidebar .wrapper {
    margin-top:55px;
}

.preamble h3 {
    position:absolute;
    width: 395px;
    height: 41px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-image: url(../img/titulo1.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 -35px;
}

.explanation h3 {
    position:absolute;
    background-color: transparent;
    background-image: url(../img/titulo2.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 -30px;
    width: 145px;
    height: 41px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.participation h3 {
    position:absolute;
    background-color: transparent;
    background-image: url(../img/titulo3.gif);
    background-repeat: no-repeat;
    margin: 0 0 0 -35px;
    width: 250px;
    height: 41px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar {
    position:absolute;
    top: 920px;
    left: 390px;
    height:500px;
    font: 8pt/11pt "FontAwesome", sans-serif;
}

.design-selection a:link.c, .design-selection a.designer-name:visited {
    display: inline;
}
.design-selection a {
    display: block;
}

.zen-resources {
    height: 250px;
    width: 190px;
    background-color: transparent;
    background-image: url(../img/rockbottom.gif);
    background-repeat: no-repeat;
    background-position: 28px 0;
}

.summary {
    font: 10pt/15pt "FontAwesome", sans-serif;
    margin: 400px 0 0 135px;
    padding-bottom: 8px;
    color: #fff;
    width: 250px;
    text-align: left;
    border-bottom: 1px solid #353535;
}
.summary :first-letter {
    font: 1.5em/15pt "FontAwesome", sans-serif;
}

.preamble {
    margin: 20px 0 0 148px;
    width: 230px;
}

.supporting {
    width:314px;
    margin-left:100px;
    background-color: transparent;
    background-image: url(../img/back.gif);
    background-repeat: repeat-y;
    background-position:-78px 0;
}

.explanation {
    margin: 20px 0 0 47px;
    width: 230px;
}

.participation {
    margin: 20px 0 0 47px;
    width: 230px;
}

.benefits {
    margin: 20px 0 0 47px;
    width: 230px;
}


.requirements {
    margin: 20px 0 0 47px;
    width: 230px;
}

footer	{
    color:#000;
    height:60px;
    position:absolute;
    margin:0 0 0 -15px;
    background-color: transparent;
    background-image: url(../img/bottom.gif);
    background-repeat: no-repeat;
    width:345px;
    padding:40px 0 30px 134px;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    font-weight: bold;
    text-decoration: underline;
    color: #d4cddc;
}

a:hover, a:active {
    text-decoration: underline;
    color: #fff;
}

footer a:link {
    color:#c0c0c0;
}

footer a:active {
    color:#c0c0c0;
}

footer a:hover {
    color:#fff;
    text-decoration:underline;
}

p:nth-child(2)	{
    margin-top: 1px;
    padding-top: 30px;
}

p:nth-child(6)	{
    text-align: center;
    color: #FFE1A4;
    font: 8pt/12pt "FontAwesome", sans-serif;
    margin: 47px 0 0 0;
    width: 215px;
}

p {
    margin: 10px 0 0 0;
}